<script type="text/javascript">
    $(document).ready(function () {
        PopulaSelectList("Lista", "TipoItemConta", "#drpTipoItemConta", "-1");
    })
</script>
<div class="col-3">
    <label>Tipo:</label><br />
    <select id="drpTipoItemConta" class="form-control"></select>
</div>