<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"><span id="spTitle"></span></h5>

            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>

        </div>
        <div class="modal-body">

            <input type="hidden" id="txtId" value="@ViewBag.Id" />

            <div class="row">
                <div class="col-12">
                    <label><span id="spLabel"></span></label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="text" id="txtDescricao" value="@ViewBag.Descricao" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>Status:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <select id="cmbStatusEdicao" class="form-control"></select>
                    <input type="hidden" id="txtStatus" value="@ViewBag.Status" />
                </div>
            </div>
            <div id="alertEdicao" class="row mt-2" style="display:none">
                <div class="col-12">
                    <div class="alert alert-primary" role="alert">
                        <span id="spEdicaoMsg"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="button" class="btn btn-outline-dark" id="btnSalvar" value="Salvar" onclick="editar()" />
            <input type="button" class="btn btn-outline-dark" value="Cancelar" data-dismiss="modal" />
        </div>
    </div>
</div>