<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - Conta Fácil</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    @*<link href="~/css/Site.css" rel="stylesheet" />*@

    <script src="~/js/jquery-3.0.0.min.js"></script>
    <!--js para realizar validação no AjaxBeginForm-->
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>

    <!--js para realizar execução do evento no javascritp OnSuccess no AjaxBeginForm e capturar a mensagem no js-->
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>

    <style type="text/css">

        .progresso {
            display: none;
            position: fixed;
            top: 360px;
            left: 50%;
            margin-top: -50px;
            margin-left: -100px;
            vertical-align: middle;
            text-align: center;
            font-size: 16px;
            background-color: white;
            border: 1px solid black;
            height: 90px;
            width: 120px;
        }
    </style>


</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg mb-2" @*style="background-color:gray"*@>
        <div class="container">
            <a class="navbar-brand" href="#">
                <strong>Conta Fácil</strong>
            </a>
            @using Project.Entity
            @{
                Usuario u = (Usuario)Session["Usuario"];
            }
            @if (u != null)
            {
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSite">

                    <div class="dropdown ml-auto">
                        <button class="btn btn-dark bg-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @u.Nome
                        </button>
                        @if (@u.Status.Equals("A"))
                        {
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="/Usuario/Logout">
                                    Controle de Usuários
                                </a>
                            </div>
                        }
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/Usuario/Logout">
                                Sair
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </nav>

    <div class="container">
        @RenderBody()

    </div>

    <div class="modal fade" role="dialog" id="modalMensagem" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Sr. Usuário</h4>
                    <span style="font-size:xx-large"><i class="fa fa-info-circle"></i></span>
                </div>
                <div class="modal-body">
                    <p><span id="modalMensagemId"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark btn-sm" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="divCarregando" class="progresso">
        <br />
        <img src="~/assets/gifs/ajax-loader.gif" />
        <br />
        Carregando...
    </div>



</body>
</html>
