<!--Para que a validação do MVC funcione, foi necessário colocar a referência deste script-->
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@ViewBag.Titulo</h5>
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
            </button>
        </div>
        @RenderBody()
    </div>
</div>