<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><strong>Conta Fácil</strong></a>
        <div class="collapse navbar-collapse" id="navbarMenu">
            @using Project.Entity
            @{
                Usuario u = (Usuario)Session["Usuario"];
            }
            @if (u != null)
            {
                @Html.Action("PopularMenu", "Menu", new { @menus = u.Perfil.Menus.Where(m => m.IdMenu == null).ToList() })

                <div class="btn-group" role="group">

                    <button id="btnPesquisar" style="display:none" type="button" class="btn btn-lg btn-dark">
                        <i class="fa fa-search"></i>
                    </button>

                    <button id="btnNovo" type="button" style="display:none" class="btn btn-lg btn-dark">
                        <i class="fa fa-plus-square"></i>
                    </button>

                    <button id="btnSalvar" type="button" style="display:none" class="btn btn-lg btn-dark">
                        <i class="fa fa-save"></i>
                    </button>

                    <button id="btnExcluir" type="button" style="display:none" class="btn btn-lg btn-dark">
                        <i class="fa fa-trash"></i>
                    </button>

                    <!--para enxergar a action que está fora da área restrita, foi necessário usar a tag href-->
                    <a href="/Login/Logout" class="btn btn-lg btn-dark">
                        <i class="fa fa-sign-out"></i>
                    </a>


                </div>

            }
        </div>
    </div>
</nav>

