@using X.PagedList.Mvc;
@model X.PagedList.IPagedList<Project.Entity.Grupo>
@{
    ViewBag.Title = "Manutenção dos Grupos de Contas";
    Layout = "~/Views/_layout.cshtml";
}

<link href="~/css/Site.css" rel="stylesheet" />


<script type="text/javascript">

    $(document).ready(function () {
        $('#btnNovo').show();

        var table = $('#tblGrupos').DataTable({
            "bProcessing": false,
            "bServerSide": false,
            "bLengthChange": false, /*tornar invisível combo para visualizar a quantidade de registros */
            "bFilter": false, /*tornar invisível o campo de busca do resultado da tabela */
            "ajax": {
                type: "POST",
                url: "/Grupo/Consultar",
                datatype: "json",
                //data: function (d) {
                //    d.sBusca = $("#txtBusca").val();
                //    d.sPerfil = $("#cmbPerfil").val();
                //    d.sStatus = $("#cmbStatus").val();
                //},
                error: function (e) {
                    exibirAlert("Erro: " + e.status);
                }
            },

            /*colunas que são utilizadas na dataTable*/
            "columns": [
                {
                    "className": 'details-control',
                    "orderable": false,
                    "data": null,
                    "defaultContent": ''
                },
                { "data": "Id" },
                { "data": "Descricao" },
                { "data": "Status" },
                {
                    "render": function (data, type, row) {
                        return "<div style='text-align:center'><a href='#' class='btn btn-dark'  onclick=edit('" + row.IdUsuario + "')><i class='fa fa-edit'></i></a></div>";
                    }
                },
                {
                    "render": function (data, type, row) {
                        var nome = row.Nome;
                        return "<div style='text-align:center'><button class='btn btn-dark'  onclick=del('" + row.IdUsuario + "')><i class='fa fa-trash'></i></button></div>";
                    }
                }
            ],
            "columnDefs":
                [{
                    "targets": [0],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [1],
                    "visible": false,
                    "searchable": false,
                    "orderable": false
                 },
                {
                    "targets": [4],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [5],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                }]
        });

        $('#tblGrupos tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                 row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });

    })

    function format(d) {
        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            '<tr>' +
            '<td>Nome do Sub-Grupo:</td>' +
            '<td>' + d.Descricao + '</td>' +
            '</tr>' +
            '<tr>' +
            '<td>Status:</td>' +
            '<td>' + d.Status + '</td>' +
            '</tr>' +
            '</table>';
    }




    @*function consultarGrupo() {
        $.ajax({
            type: "POST",
            url: "/Grupo/ManutencaoGrupo",
            data: { id },
            beforeSend: function () {
                $('#tabela').hide();
                $('#carregando').show();
            }
        }).done(function () {
            $('#tabela').show();
            $('#carregando').hide();
        })
    };


    function excluirGrupo(id) {
        $.ajax({
            type: "POST",
            url: "/Grupo/ExcluirGrupo",
            data: { id },
            success: function () {
               window.location.href = '@Url.Action("ManutencaoGrupo", "Grupo")'
            },
            error: function (e) {
                $("#spMensagemManutencaoGrupo").html(e);
            }

        })
    };*@
</script>

<h5>Grupos de Contas</h5>

@*@using (Html.BeginForm("IncluirGrupo", "Grupo"))
    {
        <div class="row">
            <div class="col-4">
                <label>Nome do Grupo:</label>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <input name="DescricaoGrupo" type="text" class="form-control" placeholder="Informe a descrição do Grupo" />
            </div>
            <div class="col-4 pl-0">
                <button type="submit" class="btn btn-dark btn-lg" id="btnIncluir">
                    <i class="fa fa-plus-square"></i>
                </button>
            </div>
        </div>
    }*@

@*aplicar o data detail nas linhas da grid..*@
@*https://datatables.net/examples/api/row_details.html*@

<div class="row">
        <div class="col-12">
            <table id="tblGrupos" class="display" style="width:100%" data-page-length='5'>
                <thead>
                    <tr>
                        
                        <th scope="col"></th>
                        <th scope="col">Id</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>


@if (ViewBag.MsgGrupo != null)
{
    <div id="alertManutencaoGrupo" class="row mt-2">
        <div class="col-12">
            <div class="alert alert-primary" role="alert">
                <span id="spMensagemManutencaoGrupo">
                    @ViewBag.MsgGrupo
                </span>
            </div>
        </div>
    </div>
}





