@{
    ViewBag.Title = "Manutenção dos Grupos de Contas";
    Layout = "~/Views/_layout.cshtml";
}

<link href="~/css/data-table.net.css" rel="stylesheet" />

<script type="text/javascript">

    var table = null;

    function del(row) {
        $('#spanConfirmMensagem').html("Deseja excluir o usuário <strong>" + row.Descricao + "</strong>?");

        $('#modalConfirmMensagem').modal({
            backdrop: 'static',
            keyboard: false
        }).one('click', '#btnConfirmSim', function (e) {
            $.ajax({
                type: "POST",
                url: "/Grupo/Excluir",
                data: "Id=" + row.Id,
                success: function (result) {
                    exibirAlert(result.msg);
                    table.ajax.reload();
                },
                error: function (e) {
                    exibirAlert("Erro: " + e.status);
                }
            });

        });
    }

    //chamando o modal de edição..
    function edit(id) {
        $("#modal").load("Edicao?id=" + id, function () {
            $("#modal").modal({ backdrop: "static" });
        });
    };

    function exibirAlert(mensagem) {
        $("#mensagem").html(mensagem);
        $("#alert").show().fadeOut(8000);//exibe e depois esconde o alert..
    }

    function format(grupo) {
        var subTable = '';
        if (grupo.Grupos != null && grupo.Grupos.length > 0) {
            subTable += '<table class="table" style="padding-left:50px;padding-bottom:2px;">';
            subTable += '<thead class="thead-dark">';
            subTable += "<tr>";
            subTable += "<th scope='col'>Descrição</th>";
            subTable += "<th scope='col'>Status</th>";
            subTable += "</tr>";
            subTable += "</thead>";
            subTable += "<tbody>";
            for (var i = 0; i < grupo.Grupos.length; i++) {
                subTable += "<tr>";
                subTable += "<td>" + grupo.Grupos[i].Descricao + "</td>";
                subTable += "<td>" + grupo.Grupos[i].Status + "</td>";
                subTable += "</tr>";
            }
            subTable += "</tbody>";
            subTable += '</table>';
        } else {
            subTable += '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
            subTable += '<tr>' + '<td><b>Não existem sub-grupos</b></td>' + '</tr>';
            subTable += '</table>';
        }
        return subTable;
    }

    $(document).ready(function () {
        $('#btnNovo').show();

        table = $('#tblGrupos').DataTable({
            "bProcessing": false,
            "bServerSide": false,
            "bLengthChange": false, /*tornar invisível combo para visualizar a quantidade de registros */
            "bFilter": false, /*tornar invisível o campo de busca do resultado da tabela */
            "ajax": {
                type: "POST",
                url: "/Grupo/Consultar",
                datatype: "json",
                //data: function (d) {
                //    d.sBusca = $("#txtBusca").val();
                //    d.sPerfil = $("#cmbPerfil").val();
                //    d.sStatus = $("#cmbStatus").val();
                //},
                error: function (e) {
                    exibirAlert("Erro: " + e.status);
                }
            },

            /*colunas que são utilizadas na dataTable*/
            "columns": [
                /*coluna utilizada para abrir a subDataTable*/
                {
                    "className": 'details-control',
                    "orderable": false,
                    "data": null,
                    "defaultContent": ''
                },
                { "data": "Id" },
                { "data": "Descricao" },
                { "data": "Status" },
                { "data": "Grupos" },
                {
                    "render": function (data, type, row) {
                        return "<div style='text-align:center'><button id='btnEditar' class='btn btn-dark'  onclick=edit('" + row.Id + "')><i class='fa fa-edit'></i></button></div>";
                    }
                },
                {
                    "render": function (data, type, row) {
                        return "<div style='text-align:center'><button id='btnExcluir' class='btn btn-dark'><i class='fa fa-trash'></i></button></div>";
                    }
                }
            ],
            "columnDefs":
                [{
                    "targets": [0],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [1],
                    "visible": false,
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [4],
                    "visible": false,
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [5],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [6],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                }]
        });

        $('#tblGrupos tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data())).show();
                tr.addClass('shown');
            }
        });

        $('#tblGrupos tbody').on('click', '#btnExcluir', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            del(row.data());
        });

        $('#btnNovo').click(function () {
            $("#modal").load("Inclusao", function () {
                $("#modal").modal({ backdrop: "static" });
            });
        });


    })

</script>

<h5>Grupos de Contas</h5>
<hr />
<div class="row">
    <div class="col-12">
        <table id="tblGrupos" class="display" style="width:100%" data-page-length='5'>
            <thead>
                <tr>

                    <th scope="col"></th>
                    <th scope="col">Id</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Status</th>
                    <th scope="col">Grupos</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


<div id="alert" class="row mt-2" style="display:none">

    <div class="col-12">
        <div class="alert alert-primary" role="alert">
            <span id="mensagem"></span>
        </div>
    </div>

</div>

<div class="modal" id="modal" role="dialog">
</div>





