@{
    ViewBag.Title = "Consulta Grupos de Contas";
    Layout = "~/Views/_layout.cshtml";
}

<h5>Grupos</h5>
<hr />

@using (Html.BeginForm("Incluir", "Grupo", FormMethod.Post))
{
    <div class="row">
        <div class="col-4">
            <label>Nome do Grupo:</label>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <input type="text" id="txtNomeGrupo" class="form-control" />
        </div>
        <div class="col-4 pl-0">
            <button type="submit" class="btn btn-dark btn-lg">
                <i class="fa fa-plus-square"></i>
            </button>
        </div>
    </div>
}

<div class="row mt-4">
    <div class="col-12">
        <table class="table table-striped" id="tGrupos" data-page-length="5">
            <thead>
                <tr>
                    <th scope="col" style="width:80%">Nome do Grupo</th>
                    <th scope="col" style="width:10%"></th>
                    <th scope="col" style="width:10%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Grupos)
                {
                    <tr>
                        <td>@item.Descricao</td>
                        <td>
                            <div style="text-align:center">
                                <a href="#" class="btn btn-dark" onclick="editarGrupo(@item.Id)">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div style="text-align:center">
                                <a href="#" class="btn btn-dark" onclick="excluirGrupo(@item.Id)">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



