@model List<Project.Web.Areas.AreaIndex.Models.GrupoViewModelConsulta>

<script type="text/javascript">

    function excluirGrupo(id) {
        $.ajax({
            type: "POST",
            url: "/Grupo/ExcluirGrupo",
            data: { id },
            success: function () {
               window.location.href = '@Url.Action("ManutencaoGrupo", "Grupo")'
            },
            error: function (e) {
                $("#spMensagemManutencaoGrupo").html(e);
            }

        })
    };

    $(document).ready(function () {

         $("#tGrupos").DataTable({
            "bProcessing": false,
            "bServerSide": false,
            "bLengthChange": false, /*tornar invisível combo para visualizar a quantidade de registros */
            "bFilter": false /*tornar invisível o campo de busca do resultado da tabela */
        });
    });
</script>

<div class="row mt-4">
    <div class="col-12">
        <table class="table table-striped" id="tGrupos" data-page-length="5">
            <thead>
                <tr>
                    <th scope="col" style="width:80%">Nome</th>
                    <th scope="col" style="width:10%"></th>
                    <th scope="col" style="width:10%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Descricao</td>
                        <td>
                            <div style="text-align:center">
                                <a href="#" class="btn btn-dark" onclick="editarGrupo(@item.Id)">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div style="text-align:center">
                                <a href="#" class="btn btn-dark" onclick="excluirGrupo(@item.Id)">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>                }
            </tbody>
        </table>
    </div>
</div>