<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Parabéns,  @ViewBag.Mensagem </h1>
    <p class="lead">A sua senha foi alterada com sucesso.</p>
    <hr class="my-4">
    <p>Para efetuar o login com sua nova senha, basta clicar no botão abaixo.</p>
    <p class="lead">
        <a class="btn btn-outline-dark btn-block" href="\Login\Login" role="button">Logar</a>
    </p>
</div>
