@model Project.Web.Areas.AreaIndex.Models.PerfilMenuViewModelConsulta
    @{
        Layout = "~/Views/_modalCrud-LG.cshtml";
    }

    <script type="text/javascript">

        function exibirAlertInclusao(mensagem) {
            $("#spMensagemInclusaoPerfil").html(mensagem);
            $("#alertInclusaoPerfil").show().fadeOut(8000);//exibe e depois esconde o alert..
        }

        $(document).ready(function () {

            var arr = [];

            var table = $('#tabelaInlusao').DataTable({
                "bLengthChange": false, /*tornar invisível combo para visualizar a quantidade de registros */
                "bFilter": false /*tornar invisível o campo de busca do resultado da tabela */
            });

            //função que é o parâmetro do método forEach() do array..
            //function printElementos(elemento, indice, array) {
            //    alert("a[" + indice + "]=" + elemento);
            //}

            $('#tabelaInlusao tbody').on('click', 'tr', function () {
                //pegando a célula da tabela que tem o input, que refere-se ao Id do menu..
                var value = $(this).find('td#itemMenu input').val();
                //pegando o valor do checkbox da linha da tabela..
                var isChecked = $(this).find('input[name="checkBoxId"]:checked').val();

                if (isChecked) {
                    //adicionando..
                    arr.push(value);
                    $(this).addClass('selected');
                } else {
                    //excluindo..
                    var indice = arr.indexOf(value);
                    //a partir do índice, exclui 1 item (que é o que se deseja excluir)..
                    arr.splice(indice, 1);
                    $(this).removeClass('selected');
                }                 

                // o método abaixo do array só aceita o parâmetro de um callBack(function)..
                //arr.forEach(printElementos);
            });

            //$('#itemCheckBox').on('click', function () {
            //    $('#tabela tbody tr').toggleClass('selected');
            //});

            $('#btnSalvarPerfil').on('click', function () {
                var model = {
                    NomePerfil: $('#NomePerfil').val(),
                    IdMenus: arr
                };
                //debugger;
                $.ajax({
                    type: "POST",
                    url: "/Perfil/Incluir",
                    data: model,
                    success: function (msg) {
                        exibirAlertInclusao(msg);
                        PopulaPerfil();
                    },
                    error: function (e) {
                        exibirAlertInclusao('Erro: ' + e.status);
                    }
                });
            });

        });



    </script>

    <form id="formCadastro">
        <div class="modal-body">

            @Html.LabelFor(model => model.NomePerfil)
            @Html.TextBoxFor(model => model.NomePerfil, new { @class = "form-control", @placehoder = "Informe um novo Perfil" })

            <br />

            <table id="tabelaInlusao" class="display" style="width:100%" data-page-length="4">
                <thead>
                    <tr>
                        <th>Item de Menu</th>
                        <th style="text-align:center">Selecionar</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Menus.Count(); i++)
                    {
                        <tr>
                            <td id="itemMenu">
                                @Html.HiddenFor(model => model.Menus[i].Id)
                                @Html.DisplayFor(model => model.Menus[i].Descricao)
                            </td>
                            <td id="itemCheckBox" style="text-align:center">
                                <input name="checkBoxId" value="1" type="checkbox" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div id="alertInclusaoPerfil" class="row mt-2" style="display:none">
                <div class="col-12">
                    <div class="alert alert-primary" role="alert">
                        <span id="spMensagemInclusaoPerfil"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <input type="button" id="btnSalvarPerfil" value="Salvar" class="btn btn-outline-dark" />
            <input type="button" value="Cancelar" class="btn btn-outline-dark" data-dismiss="modal" />
        </div>
    </form>
