@{
    ViewBag.Title = "ManutencaoPerfil";
    Layout = "~/Views/_layout.cshtml";
}

<script type="text/javascript">

    function exibirAlert(mensagem, tempo) {
        $("#spMensagemManutencaoPerfil").html(mensagem);
        $("#alertManutencaoPerfil").show().fadeOut(tempo);//exibe e depois esconde o alert..
    }

    //chamando o modal de exclusão..
    function ExcluirPerfil() {

        //debugger;
        var perfil = $("#cmbPerfil :selected");
        var id     = perfil.val();

        if (id > 0) {

            var descricaoPerfil = perfil.text();

            $('#spanConfirmMensagem').html("Deseja excluir o perfil <strong>" + descricaoPerfil + "</strong>?");

            $('#modalConfirmMensagem').modal({
                backdrop: 'static',
                keyboard: false
            }).one('click', '#btnConfirmSim', function (e) {
                $.ajax({
                    type: "POST",
                    url: "/Perfil/Excluir",
                    //a variável 'idPerfil' deve estar com o nome igual ao do parâmetro do método json do Controller
                    data: "idPerfil=" + id,
                    success: function (result) {
                        //o .msg é identificado como um atributo do retorno da execução..
                        //somente com sucesso repopulará o perfil e esconde a table carregada..
                        if (result.cod == 1) {
                            setTimeout(exibirAlert(result.msg, 10000), 10000);
                            PopulaPerfil();
                            $("#TabelaMenus").hide();
                        } else {
                            exibirAlert(result.msg, 10000);
                        }

                     },
                    error: function (e) {
                        exibirAlert("Erro: " + e.status);
                    }
                });
             });
        }
    };

    $(document).ready(function () {
        $("#btnNovo").show();
        $("#btnPesquisar").show();
        $("#btnExcluir").show();
        $("#btnSalvar").show();

        PopulaPerfil();
        var idPerfil=-1;

        var table = $('#tabela').DataTable({
            "bProcessing": false,
            "bServerSide": false,
            "bLengthChange": false, /*tornar invisível combo para visualizar a quantidade de registros */
            "bFilter": false, /*tornar invisível o campo de busca do resultado da tabela */
            "ajax": {
                type: "POST",
                url: "/Perfil/Consultar",
                datatype: "json",
                data: function (d) {
                    d.sPerfil = $("#cmbPerfil").val();
                },
                error: function (e) {
                    exibirAlert("Erro: " + e.status);
                }
            },

            /*colunas que são utilizadas na dataTable*/
            "aoColumns": [
                { "mData": "IdPerfil", "sName": "IdPerfil", "sTitle": "CodPerfil" },
                { "mData": "IdMenu", "sName": "IdMenu", "sTitle": "CodMenu" },
                { "mData": "DescricaoMenu", "sName": "DescricaoMenu", "sTitle": "Descrição do Menu" },
                {
                    "sTitle": "Status",
                    "render": function (data, type, row) {
                        return "<div style='text-align:center'>" + row.Status + "</div>";
                    }
                },
                {
                    "render": function (data, type, row) {
                        return "<div style='text-align:center'><input type='checkbox' " + row.Selecionado + " ></div>";
                    }
                }
            ],
            "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false,
                    "orderable": false,
                    "width": "1%"
                },
                {
                   "targets": [1],
                   "visible": false,
                   "searchable": false,
                    "orderable": false,
                    "width": "1%"
                },
                {
                   "targets": [2],
                   "width": "50%"
                 },
                {
                   "targets": [3],
                    "width": "40%"
                },
                 {
                   "targets": [4],
                   "visible": true,
                   "searchable": false,
                   "orderable": false,
                   "width": "8%"
                 }]
        });

        $("#cmbPerfil").change(function () {
            $("#TabelaMenus").hide();
        })

        $("#btnPesquisar").click(function () {
            //atualiza a table para uma nova pesquisa..
            table.ajax.reload();
            $("#TabelaMenus").show();
        })

        $("#btnNovo").click(function () {
            $("#modal").load("@Url.Action("Inclusao", "Perfil")", function () {
                $("#modal").modal({ backdrop:"static"});
            })
        })

        $("#btnExcluir").click(function () {
            //Exclui o perfil selecionado..
            ExcluirPerfil();
        })
    });

</script>

<h5>Perfil</h5>
<hr />

<div class="row">
    <div class="col-12">
        <label>Perfil:</label>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <select id="cmbPerfil" class="form-control"></select>
    </div>
</div>

<div id="TabelaMenus" class="row mt-3" style="display:none">
    <div class="col-12">
        <table id="tabela" class="display" style="width:100%" data-page-length='5'>
            <thead>
                <tr>
                    <th scope="col" style="display:none">Código do Perfil</th>
                    <th scope="col" style="display:none">Código do Menu</th>
                    <th scope="col">Descrição do Menu</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="bodyTable"></tbody>
        </table>
    </div>
</div>

<div id="alertManutencaoPerfil" class="row mt-2" style="display:none">
    <div class="col-12">
        <div class="alert alert-primary" role="alert">
            <span id="spMensagemManutencaoPerfil"></span>
        </div>
    </div>
</div>

<div id="modal" class="modal" role="dialog">
</div>

