@model List<Project.Entity.Menu>

@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/_layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        $("#btnNovo").show();
        $("#btnPesquisar").show();

        PopulaPerfil();

    });

</script>

<h5>Menus</h5>

<hr />

<div class="row">
    <div class="col-3">
        <label>Perfil:</label>
        <select id="cmbPerfil" class="form-control"></select>
    </div>
</div>

<div class="row mt-3">


</div>

