@{
    ViewBag.Title = "Consulta Usuários";
    Layout = "~/Views/_layout.cshtml";
}

@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>*@


<script type="text/javascript">
    function edit(id) {
        $("#modal").load("Edicao?id=" + id, function () {
            $("#modal").modal();
        })
    };



    $(document).ready(function () {       

        var table = $('#tabela').DataTable({
            "bProcessing": true,
            "bServerSide": false,
            "bLengthChange": false, /*tornar invisível combo para visualizar a quantidade de registros */
            "bFilter": false, /*tornar invisível o campo de busca do resultado da tabela */
            "ajax": {
                type: "POST",
                url: "/Usuario/Consultar",
                datatype: "json",
                data: function (d) {
                    d.sBusca = $("#txtBusca").val();
                    d.sPerfil = $("#cmbPerfil").val();
                    d.sStatus = $("#cmbStatus").val();
                },
                error: function (e) {
                    alert("Erro: " + e.status);
                }
            },

            /*colunas que são utilizadas na dataTable*/
            "aoColumns": [
                { "mData": "IdUsuario", "sName": "IdUsuario", "sTitle": "Login" },
                { "mData": "Nome", "sName": "Nome", "sTitle": "Nome" },
                { "mData": "Perfil", "sName": "Perfil", "sTitle": "Perfil" },
                { "mData": "Status", "sName": "Status", "sTitle": "Status" },
                {
                    "render": function (data, type, row) {
                        return "<div style='text-align:center'><a href='#' class='btn btn-primary'  onclick=edit('" + row.IdUsuario + "')><i class='fa fa-edit'></i></a></div>";
                    }
                },
                {
                    "render": function (data, type, row) {
                        return "<div style='text-align:center'><button class='btn btn-danger delete' data-id='" + row.IdUsuario + "'><i class='fa fa-trash'></i></button></div>";
                    }
                }
            ],
            "columnDefs":
                [{
                    "targets": [4],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [5],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                }]
        });

        $("#btnPesquisar").click(function () {

            table.ajax.reload();
            $("#TabelaUsuarios").show();
        });

       

        $.ajax({
            type: "POST",
            url: "/Usuario/ListaPerfis",
            success: function (dados) {

                var option = '<option value=-1>Selecione o Perfil</option>';
                $.each(dados, function (i, obj) {
                    option += '<option value="' + obj.Id + '">' + obj.Descricao + '</option>';
                });

                $('#cmbPerfil').html(option).show();

            },
            error: function (e) {
                console.log("Erro: " + e.status);
            }
        });

        $.ajax({
            type: "POST",
            url: "/Usuario/ListaStatus",
            success: function (dados) {

                var option = '<option value=-1 > Selecione o Status</option>';
                $.each(dados, function (i, obj) {
                    option += '<option value="' + obj.Key + '">' + obj.Value + '</option>';
                });

                $('#cmbStatus').html(option).show();

            },
            error: function (e) {
                console.log("Erro: " + e.status);
            }
        });

    });



</script>

<h5>Consulta de Usuários</h5>
<hr />

<div class="row">
    <div class="col-4">
        <label>Nome ou Chave:</label>
        <input type="text" id="txtBusca" class="form-control" />

    </div>
    <div class="col-3">
        <label>Perfil:</label>
        <select id="cmbPerfil" class="form-control"></select>
    </div>

    <div class="col-3">
        <label>Status:</label>
        <select id="cmbStatus" class="form-control"></select>
    </div>

    <div class="col-2 text-right mt-4">
        <button id="btnPesquisar" type="button" class="btn btn-outline-dark">
            <i class="fa fa-search"></i> Pesquisar
        </button>
    </div>
</div>

<div id="TabelaUsuarios" class="row mt-5" style="display:none">
    <div class="col-12">
        <table id="tabela" class="display" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">Usuário</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Perfil</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="bodyTable"></tbody>
        </table>
    </div>
</div>

<div class="modal" id="modal">
</div>

