<script src="~/js/Componentes/componente_dropdown.js"></script>
<div class="dropdown">
    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="drpStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span id="spDescricaoStatus"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="drpPerfil">

        <button id="Status" class="dropdown-item btn-item" type="button" data-default=" --Selecione-- " data-cod="-1" data-text=" --Selecione-- "> --Selecione-- </button>

        @foreach (var item in ViewBag.ListaStatus)
        {
            <button id="Status" class="dropdown-item btn-item" type="button" data-cod="@item.IdStatus" data-text="@item.Descricao">@item.Descricao</button>
        }
    </div>
</div>



<input type="hidden" id="txtCodStatus" />

