@{
    ViewBag.Title = "Consulta Permissões";
    Layout = "~/Views/_layout.cshtml";
}
<h5>Consulta de Usuários</h5>
<hr />
<div class="row">
    <div class="col-4">
        Login ou Nome:
        <div class="input-group">
            <input type="text" id="txtBusca" class="form-control" placeholder="Informe o Usuário" />            
        </div>
    </div>
    <div class="col-2">
            Perfil:
            @{Html.RenderAction("Perfil", "DropDown");}
    </div>
    <div class="col-2">
        Status:
        @{Html.RenderAction("Status", "DropDown");}
    </div>
    <div class="col-4 text-right">
        <br />
        <button id="btnBusca" type="submit" class="btn btn-outline-dark">
            <i class="fa fa-search"></i> Pesquisar
        </button>
    </div>
</div>
<br />