@*<script src="~/js/Areas/AreaIndex/DropDown/componente-dropdown.js"></script>*@
@*<div class="dropdown" style="width:100%">
        <button class="btn btn-outline-dark dropdown-toggle" style="width:100%" type="button" id="drpPerfil" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="spDescricaoPerfil"></span>
        </button>
        <div id="drpMenuPerfil" style="width:100%" class="dropdown-menu" aria-labelledby="drpPerfil">

            <button data-name="Perfil" class="dropdown-item btn-item" type="button" data-default=" --Selecione-- " data-cod="-1" data-text=" --Selecione-- "> --Selecione-- </button>

            @foreach (var item in ViewBag.ListaPerfis)
            {
                <button data-name="Perfil" class="dropdown-item btn-item" type="button" data-cod="@item.IdPerfil" data-text="@item.Descricao">@item.Descricao</button>
            }

        </div>
    </div>
    <input type="hidden" id="txtCodPerfil" name="parPefil" />*@


