<script src="~/js/Areas/AreaIndex/DropDown/componente-dropdown.js"></script>
<div class="dropdown" style="width:100%">
    <button class="btn btn-outline-dark dropdown-toggle" style="width:100%" type="button" id="drpStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span id="spDescricaoStatus"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="drpStatus" style="width:100%">

        <button data-name="Status" class="dropdown-item btn-item" type="button" data-default=" --Selecione-- " data-cod="-1" data-text=" --Selecione-- "> --Selecione-- </button>

        @foreach (var item in ViewBag.ListaStatus)
        {
            <button data-name="Status" class="dropdown-item btn-item" type="button" data-cod="@item.Key" data-text="@item.Value">@item.Value</button>
        }
    </div>
</div>
<input type="hidden" id="txtCodStatus" name="parStatus" />